#main{
    perspective: 2000px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    transition: transform 1s;
    transform-origin: left;
    background: rgb(196, 198, 192);
}

.rotateMain{
    transform: rotateY(180deg);
}

#mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right,rgb(23, 0, 25), rgb(0, 46, 49));
    transform-origin: bottom;
    transition: all 0.5s;
    position: relative;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 25px 0;
    position: absolute;
    z-index: -1;
}

#mainContainer h1{
    color: rgb(0, 62, 70);
    font-size: 75px;
}

#menuButton{
    width: 100px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 15px;
}

#rightButton{
    width: 100px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 35px auto 0 auto;
    position: absolute;
    right: 35px;
    top: 50%;
}

#leftButton{
    width: 100px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 35px auto 0 auto;
    position: absolute;
    left: 35px;
    top: 50%;
}

.skill{
    opacity: 0;
    transition: opacity 2s;
    position: absolute;
}

#links{
    position: absolute;
    top: 250px;
    right: 0;
}

#links > *{
    margin: 15px 0;
}

#links img{
    height: 24px;
}