#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 35px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.project:hover{
    box-shadow: 0 0 2px black;
}

.project h2{
    font-size: 35px;
    padding-bottom: 15px;
    text-align: center;
}

.project img{
    margin-top: auto;
    height: 60%;
    width: 60%;
}